
Fibers/labopt_logs/lab_opt_2024_12_10/optimization__2024-12-10-17-51__simplex__.txt
Fibers/labopt_logs/lab_opt_2024_12_10/optimization__2024-12-10-17-52__simplex__.txt
Fibers/labopt_logs/lab_opt_2024_12_10/optimization__2024-12-10-17-57__simplex__.txt
Fibers/labopt_logs/lab_opt_2024_12_10/optimization__2024-12-10-19-07__simplex__.txt
Fibers/labopt_logs/lab_opt_2024_12_10/optimization__2024-12-10-17-58__CG__.txt
Fibers/labopt_logs/lab_opt_2024_12_10/optimization__2024-12-10-19-31__simplex__.txt
